---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Carousel from "../components/Langages.astro";
import Logiciels from "../components/Logiciels.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);

const langages = [
  { title: "HTML", img: "/public/HTML-icon.png", desc: "Langage de balisage WEB." },
  { title: "CSS", img: "/public/CSS-icon.png", desc: "Langage de mise en forme des pages WEB." },
  { title: "JavaScript", img: "/public/JS-icon.png", desc: "Langage de programmation de scripts WEB." },
  { title: "SQL", img: "/public/SQL-icon.png", desc: "Langage servant à exploiter des bases de données relationnelles." },
  { title: "LINUX", img: "/public/LINUX-icon.png", desc: "Système d'exploitation." },
  { title: "PYTHON", img: "/public/PYHTON.png", desc: "Langage de programmation." },
];


const logiciels = [
  { title: "VSCode", img: "/public/vscode-icon.png", desc: "VSCode est un éditeur de code open source de Microsoft, offrant des outils de développement, de débogage et de gestion de version avec une large gamme d'extensions." },
  { title: "PuTTY", img: "/public/putty-icon.png", desc: "PuTTY est un client de connexion SSH et Telnet gratuit, utilisé pour se connecter à distance à des serveurs et gérer des sessions sécurisées. " },
  { title: "MobaXterm", img: "/public/mobaxterm-icon.png", desc: "MobaXterm est un outil tout-en-un pour les développeurs et administrateurs système, offrant un terminal enrichi, le support de SSH, SFTP, et plusieurs protocoles pour la gestion de serveurs à distance." },
  { title: "Github", img: "/public/github-icon.png", desc: "GitHub est une plateforme de collaboration et de gestion de versions pour le code, permettant de partager, suivre et gérer des projets de développement." },
  { title: "Git Bash", img: "/public/gitbash-icon.png", desc: "Git Bash est une application pour les environnements Microsoft Windows qui fournit une couche d'émulation pour une expérience de ligne de commande Git." },
  { title: "Microsoft Azure", img: "/public/azure-icon.png", desc: "Microsoft Azure est la plate-forme applicative en nuage de « cloud computing » de Microsoft." },
  { title: "VMware", img: "/public/vmware-icon.png", desc: "VMware est la plate-forme de virtualisation leader pour la création d'infrastructures de Cloud Computing." },
  { title: "Cisco", img: "/public/cisco-icon.png", desc: "Cisco Systems est spécialisé, dans le matériel réseau et dans les serveurs. Puis s'est largement diversifiée dans les logiciels et notamment la cybersécurité." },
  { title: "Cisco Packet Tracer", img: "/public/PacketTracer-icon.png", desc: "Simulateur de matériel réseau Cisco." },
  { title: "MySQL", img: "/public/mysql-icon.png", desc: "MySQL est un système de gestion de bases de données relationnelles." },
  { title: "GLPI", img: "/public/glpi-icon.png", desc: "GLPI est un logiciel de gestion des services informatiques (ITSM) permettant de gérer les actifs, le support et les demandes d'assistance au sein d'une organisation." },
  { title: "Portail Orange Business", img: "/public/Orange-icon.png", desc: "Le Portail Orange Business est une plateforme en ligne offrant aux entreprises des outils et services pour gérer leurs solutions de communication, de connectivité et de sécurité." },
];
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bienvenue sur le portfolio de</div>
    <div class="text-5xl font-bold">Mathias Dabsence</div>
    <div class="text-3xl py-3 font-bold">Etudiant en 2ème année de BTS SIO option SISR</div>
    <div class="py-2">
      <text class="text-lg">
        &nbsp;&nbsp;&nbsp;&nbsp;Âgé de 20 ans, je suis actuellement étudiant à Montreuil au lycée ORT Daniel Mayer, en deuxième année de BTS « SIO spécialité SISR » Services Informatiques aux Organisations spécialité en Solutions d'Infrastructure, Systèmes et Réseaux. J’ai toujours été attiré par l’informatique et les nouvelles technologies. C’est pour cela qu'après avoir raté mes partiels de médecine, je me suis tourné vers ces études.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="./public/CV-Mathias.pdf" target="_blank"> Consulter mon CV </a>
      <a href="./public/CV-Mathias.pdf" download="CV-Mathias.pdf" target="_blank" class="btn btn-outline ml-5">
        Télécharger mon CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mon Parcours</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BTS SERVICE INFORMATIQUE AUX ORGANISATIONS"
      subtitle="2023 à 2025 au Lycée ORT Daniel Mayer, 93100 - Montreuil"
    />
    <TimeLineElement
      title="PARCOURS D'ACCÈS SPÉCIFIQUE SANTÉ (partiel échoué)"
      subtitle="2022 à 2023 à l'Université Sorbonne Paris Nord, 93000 - Bobigny"
    />
    <TimeLineElement
      title="BACCALAURÉAT GÉNÉRALE - Spécialités SVT - Physique Chimie - Option Mathématique Complémentaire"
      subtitle="2022 au Lycée Jean Zay, 93600 - Aulnay-sous-Bois"
    />
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">Expériences professionnelles</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="APPRENTI ADMINISTRATEUR RÉSEAU"
      subtitle="2023 à 2025 à la Caisse Centrale des Activités Social (CCAS), 93100 - Montreuil"
    />
    <TimeLineElement
      title="POMPIER VOLONTAIRE"
      subtitle="Depuis août 2024 au Centre d'Incendie et de Secours de Villeparisis, 77270 "
    />
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">Projet professionnel </div>
  </div>

  <div class="py-2">
      <text class="text-lg">
        &nbsp;&nbsp;&nbsp;&nbsp;Professionnellement, je souhaite m’orienter vers le secteur de la cybersécurité.
        C'est pourquoi, après l’obtention de mon BTS SIO - BAC+2 , je souhaiterais poursuivre mon cursus en suivant une formation d'ingénieur - BAC+5.
        Cette formation est proposé par l'école d'ingenieur l'ESIEA en alternance avec la possibilité de prendre cybersécurité en majeure.
        Je souhaite continuer ma formation par le biais de l'apprentissage en alternance afin d’acquérir une expérience professionnelle, et de pouvoir confronter mes connaissances théoriques aux réalités du terrain.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">Mes compétences</div>
  </div>

  <Carousel items={langages} />
  <br/>
  <Logiciels items={logiciels} />

</BaseLayout>
